@import "/node_modules/reveal.js/dist/reveal.css"; 
@import "/node_modules/reveal.js/dist/theme/black.css"; 
@import "/node_modules/reveal.js/plugin/highlight/zenburn.css"; 
@import "/node_modules/reveal.js/plugin/highlight/monokai.css";
@import "/node_modules/reveal.js-plugins/chalkboard/style.css";
@import "/node_modules/reveal.js-plugins/customcontrols/style.css";

body {
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
    pointer-events: auto;
}

footer {
    margin-top: auto;
    background-color: #caced1;
}

.main {
    flex: 1 0 auto;
    display: flex;
}

.editor-container {
    flex: 1;
    display: flex;
}

.preview-container {
    flex: 1;
    display: flex;
}

#editor {
    background-color:  #b3b3b3;
    border:1px solid #0dddf0;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    color:#202020;
    resize: none;
    flex: 1 0 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#save-button {
    margin-top: auto;
}