body {
    min-height: 100vh;
    display:flex; 
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #202020 !important;
}

.arrow {
    width: 200px;
    height: 200px;
}