body {
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
}

footer {
    margin-top: auto;
    background-color: #caced1;
}

#file-contents {
    background-color:  #121212;
    border:1px solid #0dddf0;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    color:white;
}